# Ignore vscode settings
.vscode/
.idea/

# Ignore build directory
build/

# Ignore video and calibration images directory
videos/
calibration_images/
other_calib_images/

# Ignore markers directory
markers/